/SistemaElectoralEnLinea/nbproject/private/
/SistemaElectoralEnLinea/build/
/SistemaVotacion/nbproject/private/
/SistemaVotacion/build/
/SistemaVotacionElectoral/nbproject/private/
/SistemaVotacionElectoral/build/
/SistemaVotacionElectoral/dist/
/SVE/nbproject/private/